body {
    background-image: url("https://wallpaperplay.com/walls/full/d/6/4/66852.jpg");
    }

html {
    /* Positioning */
    position: relative;
  
    /* Box-model */
    min-height: 100%;
  }
  main {
    margin: 80px 0;
  }
  
.block {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    border-top: 5px; 
    border-style: solid;
   
  }
  
  .block-header {
    
    color: thistle;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
  }

  p{
      text-align: justify;
  }

/*Header with Navbar*/
header {
    background-color: thistle;
    text-shadow: 2px 2px 5px black;
    font-family: 'Tenali Ramakrishna', sans-serif;
    border-top: 5px; 
    border-style: solid;
    }

#logo{
    color: white;
    font-size: 50px;
    font-weight: bold;
    }

.nav-link {
    margin-left: 70px;
    color: white;
    text-indent: 50px;
    font-size: 25px;
    font-style: oblique;
    text-transform: uppercase;
}

/*Index.html*/
#profilepicture { 
    width:13em;
	float: left;
    margin:0 1em 1em 0;
    border-style: solid;
    border-color: thistle;
}

/*Porfolio.html*/
.port-image {
    margin: 20px auto;
}

/*Contact.html*/

.form-control {
    /* give input boxes right angles */
    border-radius: 0;
  
    /* keep from horizontally resizing text area */
    min-width: 100%;
    max-width: 100%;
  }
  
  .submit-btn {
    /* Box-model */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    font-weight: bold;
    background-color: thistle;
    border: 0;
  }

/*Footer*/

footer {
    border-top: 5px;
    border-style: solid;
    border-color: black;
    font-family:'Tenali Ramakrishna', sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: thistle;

}

footer div {
    margin-top: 10px;
}